.filtrar {
    background: none;
    flex: 1;
}
.filtrar-details {
    display: flex;
    align-items: center;
}
.buttonIcon {
    inline-size: 2.5rem;
    block-size: 2.5rem;
    background: transparent;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    color: var(--gray10);
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    /* speak: never; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}