.playerPlayback{
    display: flex;
    align-items: center;
    gap:.5rem;
    padding: 1rem;
}
.playerPlayback-progressTime{
    font: var(--small);
    line-height: 1;
    position: relative;
    top: 1px;
}
.playerPlayback-slider{
    flex: 1;

}